
@using TnpdModels
@model TnpdModels.Filedownload

@{
    ViewBag.Title = "書表檔案下載編輯";
}
<div class="tabbable">
    <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#tab1" data-toggle="tab">基本資料</a></li>
        <li><a href="#tab2" data-toggle="tab">附加檔案</a></li>
        <li><a href="#tab3" data-toggle="tab">附加連結</a></li>
    </ul>
<div class="tab-content">
    <div class="tab-pane active" id="tab1">
        <h2>書表檔案下載編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Filedownload</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<TnpdModels.Filedownload>.GetDisplayName("Subject") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CatalogId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("CatalogId")
            @Html.ValidationMessageFor(model => model.CatalogId)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Article)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Article,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Article)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.StartDate)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.EndDate)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsConfirm)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IsConfirm, new SelectList(Enum.GetValues(typeof(TnpdModels.BooleanType))))
            @Html.ValidationMessageFor(model => model.IsConfirm)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MetaId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("MetaId")
            @Html.ValidationMessageFor(model => model.MetaId)
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" class="btn-button" /> 
        </p>
    </fieldset>
}
    </div>
    <div class="tab-pane" id="tab2">
                    <p>
                <a id="colorlink1" onclick="$.fn.colorbox({ width: '700', height: '600', iframe: true, href: '@Url.Action("Create", "FiledownloadFile", new { filedownloadId = Model.Id })' })" href="javascript:return false;" class="btn-button">新增檔案</a>

            </p>
            <table class="table table-v" id="FileTable">
                <tr>
                    <th width="26%">
                        @Html.DisplayNameFor(model => model.FiledownloadFiles.FirstOrDefault().Subject)
                    </th>
                   
                   
                    <th width="13%">
                        @Html.DisplayNameFor(model => model.FiledownloadFiles.FirstOrDefault().ListNum)
                    </th>
                    <th width="13%">
                        新排序
                    </th>
                    <th width="13%">功能</th>
                </tr>
                @*注意這邊,要指定排序*@
                @foreach (var item in Model.FiledownloadFiles.OrderBy(m => m.ListNum))
                {
                    <tr>
                       
                        <td>
                            @if (!string.IsNullOrEmpty(item.UpFile))
                            {
                                <a href="@item.UpFile">@item.Subject</a>
                            }
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.ListNum)
                        </td>
                        <td>

                            @Html.TextBoxFor(modelItem => item.ListNum, new { @class = "position" })
                        </td>
                        <td>

                            <input class="btn btn-primary" type="button" onclick="$.fn.colorbox({ width: '700', height: '600', iframe: true, href: '@Url.Action("Edit", "FiledownloadFile", new { id = item.Id })        '})" value="編輯" />
                           
                            @using (Html.BeginForm("Delete", "FiledownloadFile"))
                            {
                                @Html.AntiForgeryToken()
                                
                                    <input class="btn btn-primary" type="submit" value="刪除" onclick="javascript: if (!window.confirm('你確定要刪除嗎?')) window.event.returnValue = false;" />
                                

                                @*這邊也有改*@
                                @Html.Hidden("fileid", item.Id, new { @class = "fid" })
                            }

                        </td>
                    </tr>
                }

            </table>

            @using (Html.BeginForm("Sort", "FiledownloadFile"))
            {
                <div>
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" id="fileSortData" name="SortData" />
                     <input type="submit" value="更新排序" class="btn-button" />

                </div>
            }
    </div>
    <div class="tab-pane" id="tab3">
                              <p>
                <a id="colorlink" onclick="$.fn.colorbox({ width: '700', height: '600', iframe: true, href: '@Url.Action("Create", "FiledownloadLink", new { filedownloadId = Model.Id })' })" href="javascript:return false;" class="btn-button">新增連結</a>

            </p>
            <table class="table table-v" id="LinkTable">
                <tr>
                    <th width="13%">
                        @Html.DisplayNameFor(model => model.FiledownloadLinks.FirstOrDefault().Subject)
                    </th>
                    <th width="13%">
                        @Html.DisplayNameFor(model => model.FiledownloadLinks.FirstOrDefault().LinkUrl)
                    </th>
                    <th width="13%">
                        @Html.DisplayNameFor(model => model.FiledownloadLinks.FirstOrDefault().Target)
                    </th>
                    <th width="13%">
                        @Html.DisplayNameFor(model => model.FiledownloadLinks.FirstOrDefault().ListNum)
                    </th>
                    <th width="13%">
                        新排序
                    </th>
                    <th width="13%">功能</th>
                </tr>
                @*注意這邊,要指定排序*@
                @foreach (var item in Model.FiledownloadLinks.OrderBy(m => m.ListNum))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.LinkUrl))
                            {
                                <a href="@item.LinkUrl">@item.LinkUrl</a>
                            }
                        </td>
                       <td>
                            @Html.DisplayFor(modelItem => item.Target)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ListNum)
                        </td>
                        <td>

                            @Html.TextBoxFor(modelItem => item.ListNum, new { @class = "position" })
                        </td>
                        <td>

                            <input type="button" class="btn btn-primary" onclick="$.fn.colorbox({ width: '700', height: '600', iframe: true, href: '@Url.Action("Edit", "FiledownloadLink", new { id = item.Id })        '})" value="編輯"  />
                            
                            @using (Html.BeginForm("Delete", "FiledownloadLink"))
                            {
                                @Html.AntiForgeryToken()
                                
                                    <input type="submit" value="刪除" class="btn btn-primary" onclick="javascript: if (!window.confirm('你確定要刪除嗎?')) window.event.returnValue = false;" />
                                

                                @*這邊也有改*@
                                @Html.Hidden("linkid", item.Id, new { @class = "fid" })
                            }

                        </td>
                    </tr>
                }

            </table>

            @using (Html.BeginForm("Sort", "FiledownloadLink"))
            {
                <div>
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" id="linkSortData" name="SortData" />
                     <input type="submit" value="更新排序" class="btn-button" />

                </div>
            }

    </div>
</div>
    </div>

<p class="bottom-btn">
            <input type="button" onclick="history.back()" class="btn btn-primary btn-gray" value="回列表" />
        </p>

@section Scripts {
     <script src="@Url.Content("~/Scripts/jquery.tablednd.0.5.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/colorbox.css")" rel="stylesheet" type="text/css"/>
    <script src="@Url.Content("~/Scripts/jquery.tablednd.0.5.js")" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
        });
        $('#myTab a:eq(@ViewBag.type)').tab('show');
        $("#FileTable").tableDnD({
            onDragClass: "showDragHandle",
            onDrop: function (table, row) {
                var rows = table.tBodies[0].rows;
                var map = "";
                for (var i = 1; i < rows.length; i++) {
                    $(rows[i]).find(".position").val(i);
                    map += $(rows[i]).find(".fid").val() + ":" + i + ",";
                }
                $("#fileSortData").val(map);
            }
        });
        $("#LinkTable").tableDnD({
            onDragClass: "showDragHandle",
            onDrop: function (table, row) {
                var rows = table.tBodies[0].rows;
                var map = "";
                for (var i = 1; i < rows.length; i++) {
                    $(rows[i]).find(".position").val(i);
                    map += $(rows[i]).find(".fid").val() + ":" + i + ",";
                }
                $("#linkSortData").val(map);
            }
        });
    </script>
}

