@using TnpdModels
@model TnpdModels.Template

@{
    ViewBag.Title = "首頁版型管理新增";
}

<h2>首頁版型管理新增</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Template</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<TnpdModels.Template>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpImageUrl)

        </div>
        <div class="editor-field">
            <input type="file" name="UpImageUrls" />
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BeSelect)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.BeSelect, new SelectList(Enum.GetValues(typeof(TnpdModels.BooleanType))))
            @Html.ValidationMessageFor(model => model.BeSelect)
       
            
        </div>

        <p>
            <input type="submit" value="新增" class="btn-button"  />
        </p>
		<p class="bottom-btn">
    <input type="button" onclick="history.back()" class="btn btn-primary btn-gray" value="回列表" /> 
    </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
