@model tnpd.Models.ChiefView

<div class="row">
@using (Html.BeginForm("Index", "CriminalMailbox", new {@class = "form form-vaild form-aligned trailer"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message

    <div class="col-12">

        <h4 class="h4title">信箱使用須知</h4>

        <ul class="ultxt">
            <li>
                本信箱係依「獎勵保護檢舉貪污瀆職辦法」相關規定據以設置。
            </li>
            <li>
                檢舉人於貪污瀆職之罪未發覺前向有偵查權機關或政風機構檢舉，經法院判決有罪者給與獎金；是以，以本信箱檢舉貪污瀆職案件仍應由受理檢舉單位通知檢舉人製作筆錄。匿名或不以真實姓名檢舉或無具體事證或拒絕製作筆錄者，不給獎金。
            </li>
            <li>
                按「行政院暨所屬各機關處理人民陳情案件要點」，人民陳情案件係指人民對於行政興革之建議、行政法令之查詢、行政違失之舉發或行政上權益之維護，以書面或言詞向本機關提出之具體陳情；得以電子郵件為之，惟應載明具體陳訴事項、姓名、國民身分證統一編號或其他身分證件號碼及聯絡方式。
            </li>
            <li>
                人民陳情案件由陳情事項之主管機關受理；非屬收受機關權責者，應逕移主管機關處理，並函知陳情人。又各機關處理人民陳情案件期限不得超過三十日；未能在規定期限內辦結者，應依分層負責簽請核准延長，並將延長理由以書面告知陳情人。如有下列情形之一者，受理機關得依分層負責權限規定，不予處理，但仍應予以登記，以利查考：
                <ul class="ultxtul">
                    <li>無具體內容、未具姓名或住址者。 </li>
                    <li>同一事由，經予適當處理，並已明確答復後，而仍一再陳情者</li>
                    <li>經查證所留姓名、住址、聯絡電話或電子郵件位址屬偽冒、匿名虛報或不實者。 </li>
                    <li>非陳情事項之主管機關，接獲陳情人以同一事由已分向各主管機關陳情者。 </li>
                </ul>
            </li>
            <li>
                有前項情形一再向原受理機關或其上級機關陳情而交辦者，受理機關得僅函知陳情人，並副知交辦機關已為答復之日期、文號後，予以結案。至人民陳情案件有下列情形之一者，受理機關應通知陳情人依原法定程序辦理：
                <ul class="ultxtul">
                    <li>檢、警、調機關進行偵查中者。</li>
                    <li>訴訟繫屬中或提起行政救濟者。</li>
                    <li>經判決或決定確定，或完成特定法定程序者。 </li>
                </ul>
            </li>
            <li>陳情檢舉管道資訊
            </li>
        </ul>

        <table class="table table-bordered">
            <thead>
            <tr class="bg-secondary text-center text-white">
                <th>檢舉單位 </th>
                <th>檢舉電話 </th>
                <th>檢舉信箱 </th>
                <th>傳真電話 </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>臺南市政府警察局政風室</td>
                <td>06-6353963</td>
                <td>臺南市新營區中正路3號</td>
                <td>06-6336702</td>
            </tr>
            <tr>
                <td>臺南市政府政風處 </td>
                <td>06-2982746 </td>
                <td>臺南郵政第22號信箱</td>
                <td>06-2982746 </td>
            </tr>
            <tr>
                <td>法務部廉政署 </td>
                <td>0800286586 </td>
                <td>臺北郵政14-153號信箱</td>
                <td>02-25621156</td>
            </tr>
            </tbody>
        </table>

        (有 <span class="text-danger">*</span> 號請務必填寫)

        <div class="hrline"></div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="col-form-label" for="Name"><span class="text-danger">*</span>
                    姓名：</label>
                <input class="form-control" data-val="true" data-val-required="姓名必填" id="Name" name="Name" placeholder="姓名" type="text" value="@Model.Name" />
                <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>

            </div>
            <div class="form-group col-md-6">
                <label class="col-form-label" for="Gender"><span class="text-danger">*</span>
                    性別：</label>
                <div class="form-group">
                    <select  class="form-control"  id="Gender" name="Gender"><option>男</option>
                        <option>女</option>
                    </select>
                      

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-form-label" for="Email"><span class="text-danger">*</span>
                E-Mail：</label>
              
            <input id="Email" class="form-control" data-val="true" data-val-email="Email 格式錯誤" data-val-required="Email必填" name="Email" placeholder="請輸入E-Mail" type="text" value="@Model.Email" />
            <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>

        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="col-form-label" for="TEL">
                    電話：</label>
                
                <input id="TEL" class="form-control" name="TEL" placeholder="請輸入聯絡電話" type="text" value="@Model.TEL" />
                <span class="field-validation-valid" data-valmsg-for="TEL" data-valmsg-replace="true"></span>

            </div>
            <div class="form-group col-md-6">
                <label class="col-form-label" for="Job">
                    職業：</label>
                <input class="form-control"  id="Job" name="Job" placeholder="請輸入職業" type="text" value="@Model.Job" />
                <span class="field-validation-valid" data-valmsg-for="Job" data-valmsg-replace="true"></span>

            </div>
        </div>

        <div class="form-group">
            <label class="col-form-label" for="Address">
                地址：</label>
            <div class="form-row ">
                   
                <input id="Address" class="form-control" name="Address" placeholder="請輸入地址" placeholder="現居地址" type="text" value="@Model.Address" />
                <span class="field-validation-valid" data-valmsg-for="Address" data-valmsg-replace="true"></span>

            </div>
        </div>

        <div class="form-group">
            <label class="col-form-label" for="Subject"><span class="text-danger">*</span>
                主題：</label>
            <input id="Subject" class="form-control" data-val="true" data-val-required="主旨必填" name="Subject" placeholder="請輸入主旨" type="text" value="@Model.Subject"  />
            <span class="field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>

               
        </div>

        <div class="form-group">
            <label class="col-form-label" for="Content">內容：</label>
            <textarea class="form-control"   data-val="true" data-val-required="必填" name="Content" rows="3">@Model.Content</textarea>
            <span class="field-validation-valid" data-valmsg-for="Content" data-valmsg-replace="true"></span>

        </div>

        <div class="form-row  mt-4">
            <label class="col-form-label" for="checkCode"><span class="text-danger">*</span>
                驗證碼：</label>

            <div class="form-group col-auto">
                <img id="imgVerify" src="~/Captcha/CaptchaImage" alt="點擊更换驗證碼" tabindex="0" onclick="fleshVerify()" />
				<div id="newMessageDIV" style="display:none"></div>
                <a href="javascript:void(0);" onkeypress="PlayCode()" onclick="PlayCode();"><img id="imgRead" tabindex="0" src="~/images/maintb.gif" alt="播放聲音。"  /></a>
                   
            </div>
            <div class="form-group col-md-3">
                <input id="checkCode" class="form-control"  name="checkCode" placeholder="請輸入驗證碼" type="text" /><noscript>您的瀏覽器無支援 JavaScript,無法使用此服務</noscript>
                   
                @Html.ValidationMessage("CheckCode")              
            </div>

        </div>

        <div class="hrline"></div>
        <input type="hidden" name="id" value="@ViewBag.UnId"/>
        <div class="form-row justify-content-center">
            <div class="col-auto">
                <button type="submit" class="btn btn-info">送出</button>
            </div>
            <div class="col-auto">
                <button type="reset" class="btn btn-secondary">清除</button>
            </div>
        </div>

    </div>
}
</div>

<script type="text/javascript">
    function PlayCode() {
        var name = ReadCookie("CheckCode");
        var url2 = "/wav/" + name + ".wav";

        if (/(MSIE|Trident\/|Edge\/)/i.test(navigator.userAgent)) {
            //本來這裡用的是<bgsound src="system.wav"/>,結果IE8不播放聲音,於是換成了embed
            $('#newMessageDIV').html("<embed src='" + url2 + "'/>");
        } else {
            //Firefox,Chrome均支持<audio/>
            $('#newMessageDIV').html("<audio autoplay='autoplay'><source src='" + url2 + "' type='audio/wav'/></audio>");
        }
    }


    function fleshVerify() {

        //重载验证码

        var time = new Date().getTime();

        document.getElementById('imgVerify').src = '/Captcha/CaptchaImage/' + time;

    }
    function ReadCookie(name) {
        var dc = document.cookie;
        var start1 = dc.indexOf(name + "=");
        if (start1 == -1) {
            return "";
        }
        else {
            start = dc.indexOf("=", start1) + 1;
            var end = dc.indexOf(";", start);
            if (end == -1) {
                end = dc.length;
            }
            var value = unescape(dc.substring(start, end));
            if (value == null) {
                return ""
            }
            else {
                return value;
            }
        }
    }
</script>
<style>
    .field-validation-error {
        color:red
    }
</style>
<script src="/js/jquery.validate.js"></script>

<script src="/js/jquery.validate.unobtrusive.js"></script>
<script src="/js/jquery.unobtrusive-ajax.min.js"></script>
