@using TnpdModels
@model TnpdModels.MetaIndex

@{
    ViewBag.Title = "新增分類檢索套用主題";
}

<h2>新增分類檢索套用主題</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>MetaIndex</legend>

        <div class="editor-label">
           <label>套用主題名稱</label> 

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<TnpdModels.MetaIndex>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Theme)
        </div>
        <div class="editor-field">
             <div id="treeTheme"></div>

          @Html.HiddenFor(model => model.Theme)
          @Html.HiddenFor(model => model.ThemeName)
        </div>

        

        <div class="editor-label">
            @Html.LabelFor(model => model.Cake)
        </div>
        <div class="editor-field">
             <div id="treeCake"></div>
            @Html.HiddenFor(model => model.Cake)
            @Html.HiddenFor(model => model.CakeName)
        </div>

      

        <div class="editor-label">
            @Html.LabelFor(model => model.Service)
        </div>
        <div class="editor-field">
            <div id="treeService"></div>
            @Html.HiddenFor(model => model.Service)
           @Html.HiddenFor(model => model.ServiceName)
        </div>

             @Html.Hidden("ListNum","0")
        <p>
            <input type="submit" value="新增" class="btn-button"  />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("回列表", "Index")
</div>
@section Scripts {
    @* @Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/jquery-ui.custom.js" type="text/javascript"></script>


    <link href="~/Content/themes/base/skin/ui.dynatree.css" rel="stylesheet" type="text/css" id="skinSheet">
    <script src="~/Scripts/jquery.dynatree.js" type="text/javascript"></script>
    <script src="~/MetaIndex/TreeScript/" type="text/javascript"></script>


}
