
@using tnpd.Models
@using TnpdModels
@{
    string unid = ViewBag.UnId;
    string areaName = ViewContext.RouteData.DataTokens["area"].ToString();
    WebPresentation web ;

    string title = "";
    string theme = "";
    string cake = "";
    string service = "";

    if (string.IsNullOrEmpty(unid))
    {
        title = ViewBag.Title;
        web = new WebPresentation(areaName);
    }
    else
    {
        web = new WebPresentation(areaName, unid);
        title = ViewBag.Subject ?? web.GetTitle();
        theme = ViewBag.Theme ?? web.GetTheme();
        cake = ViewBag.Cake ?? web.GetCake();
        service = ViewBag.Service ?? web.GetService();

    }
    BackendContext _db = new BackendContext();
    var color = _db.WebSiteNames.FirstOrDefault(x => x.SiteCode == areaName).ColorName;

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv=" content-type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="IE=11,chrome=1" >
    <!-- Stylesheets
    ============================================= -->
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Areas/@areaName/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Areas//@areaName/css/style.css?123" type="text/css" />
    <link rel="stylesheet" href="~/Areas//@areaName/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/Areas//@areaName/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Areas//@areaName/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/Areas//@areaName/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="~/Areas//@areaName/css/responsive.css" type="text/css" />
    <link rel="stylesheet" href="~/Areas//@areaName/css/custom.css?123" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Document Title
    ============================================= -->
    <title>Tainan City Police Department</title>
</head>

<body class="stretched no-transition">
<a href="#main_content" title="To
    the central content area" tabindex="1" class="sr-only sr-only-focusable">To
    the central content area</a>
<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">
<!-- Top Bar
============================================= -->
<div id="top-bar">
    <div class="container clearfix">
        <div class="col_half fright col_last clearfix nobottommargin">
            <!-- Top Links
            ============================================= -->
            <a href="#U" accesskey="U" class="alt-u d-none d-md-block" title="Top block">:::</a>
            <div class="top-links">
                <ul>
                    <li><a href="/@areaName/" title="Home">Home</a></li>
                    <li><a href="/@areaName/Content/sitemap" title="Sitemap">Sitemap</a></li>
                    <li><a href="/" title="中文版">中文版</a></li>
                    <li><a href="/child" title="Children(Open New Window)" target="_blank">Children</a></li>
                    <li class="d-none d-md-block"><a href="/@areaName/Content/Article/2d4e84e8-3c43-df3c-6e7c-e862612d2a74" title="Glossary">Glossary</a></li>
                    <li class="d-none d-md-block"><a href="/@areaName/Content/Article/4096e326-68da-ed6a-28e1-55651ac7b0f9" title="Links">Links</a></li>
                </ul>
            </div>
            <!-- .top-links end -->
            <noscript>Your browser does not support script syntax. To increase the size of text and
                images, please press Ctrl and “+” at the same time; to decrease the size, press
                Ctrl and “-” at the same time.</noscript>
            <div id="divScriptFontChange" class="fontch d-none d-md-block">
                <ul>
                    <li><a href="#" id="aSFont" title="Font-Size:Small">A<sup>-</sup><span class="sr-only">Font-Size:Small</span></a></li>
                    <li><a href="#" id="aMFont" title="Font-Size:Middle" class="active">A<span class="sr-only">Font-Size:Middle</span></a></li>
                    <li><a href="#" id="aLFont" title="Font-Size:Large">A<sup>+</sup><span class="sr-only">Font-Size:Large</span></a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- #top-bar end -->
<!-- Header
============================================= -->
<header id="header" class="sticky-style-2">
    <div class="container clearfix">
        <!-- Logo
        ============================================= -->
        <h1 id="logo" class="nomargin">
            <a href="/@areaName/" class="standard-logo" title="Tainan City Police Department"><img src="/Areas/@areaName/images/logo.png"
                                                                                                  alt="Tainan City Police Department"></a>
            <a href="/@areaName/" class="retina-logo" title="Tainan City Police Department"><img src="/Areas/@areaName/images/logo@2x.png"
                                                                                                alt="Tainan City Police Department"></a>
        </h1>
        <!-- #logo end -->
        <ul class="header-extras">
            <li>
                <div class="he-text">
                    <form id="cse-search-box" action="https://www.google.com/cse" name="cse-search-box" target="_blank" style="margin-bottom: 0px;">  @Html.AntiForgeryToken()

                    <div class="input-group divcenter">
                            <input id="q" type="text" class="form-control inputsear" placeholder="Keyword" name="q" title="Keyword"  onfocus="this.value=''" onblur="if(!value){value=defaultValue;}">
                            <label for="q" class="nonedisplay">Keyword</label>
                            <input id="cx" name="cx" type="hidden" value="011981164940829324463:uhxyg-yjrho"/>
                            <div class="input-group-append">
                                <button class="btn btninput" type="button" title="Keyword(Open New Window)" alt="Keyword(Open New Window)" onclick="javascript: document.getElementById('cse-search-box').submit();"><i class="icon-line-search"></i><span class="sr-only">Keyword</span></button>
                            </div>
                    </div>

                </form>
                </div>
                <div></div>
            </li>
        </ul>
    </div>
    <div id="header-wrap" class="d-md-none">
        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu" class="with-arrows style-2 center">
            <div class="container clearfix">
                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                @Html.Raw(web.getAllMenu())
            </div>
        </nav>
        <!-- #primary-menu end -->
    </div>
</header>
<!-- #header end -->
<!-- Page Title
============================================= -->
<section id="page-title">
    <div class="container clearfix">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/@areaName/"><i class="icon-home2"></i> Home</a></li>
            @if (!string.IsNullOrEmpty(web.getNodePath()))
            {
                @Html.Raw(web.getNodePath())
            }
            else
            {
               <li class="breadcrumb-item active" aria-current="page"> @title</li>
            }
           
        </ol>
    </div>
</section>
<!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-3 d-none d-md-block" id="left-menu">
                    <a href="#L" accesskey="L" class="alt-c01" title="left-menu">:::</a>
                    <div class="leftbox">
                        <h2><i class="icon-folder-open"></i> Menu</h2>
                       @Html.Raw(web.GetEnLeftMenu())
                        <div class="leftbox_shadow"></div>
                    </div>
                </div>
                <div class="col-md-9" id="printblock">
                    <a href="#C" accesskey="C" class="alt-c01" title="Main content" id="main_content">:::</a>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-8 pr0pl0">
                            <h3 class="h3title">@title</h3>
                        </div>
                        <div class="col-4 pr0pl0">
                            <div class="societybox">
                                <ul>
                                    <li>
                                         <a href="http://www.facebook.com/sharer.php?u=@Request.Url.AbsoluteUri" class="social-icon si-rounded si-colored si-small si-facebook"
                                           title="facebook(Open New Window)" target="_blank">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                            <span class="sr-only">facebook(Open New Window)</span>
                                        </a>
                                    </li>
                                    <li><noscript>
                                            <div class="font13">Script can not be executed when the friendly
                                                print up to [File] / [Print].</div>
                                        </noscript>
                                        <a href="javascript:window.print()" class="social-icon si-rounded si-colored si-small si-gplus"
                                           title="print">
                                            <i class="icon-line-printer"></i>
                                            <i class="icon-line-printer"></i>
                                            <span class="sr-only">Print</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr class="hr01">
                        </div>
                    </div>
                    <!--content-->
                    @RenderBody()
                    <!--content end-->
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #content end -->
<!-- Footer
============================================= -->
<footer id="footer">
    <!-- Copyrights
    ============================================= -->
    <div id="copyrights" class="dark">
        <div class="container clearfix">
            <div class="d-none d-md-block"><a href="#Z" title="Bottom Area" accesskey="Z" class="alt-c01">:::</a></div>
            <div class="col_half">
                <ul class="crul">
                    <li>Address : No. 3, Jhongjheng Rd., Sinying Dist., Tainan City, Taiwan 730207, R.O.C.</li>
                    <li>Tel : 886-6-6322210 </li>
                    <li>Tainan City Police Department © 2018</li>
                    <li class="d-none d-md-block">Best viewed with IE10.0+, Firefox, Chrome or higher with 1024
                        x 768 resolution.</li>
                 
                </ul>
            </div>
            <div class="col_half col_last tright ">
                <ul class="crul01 d-none d-md-block">
                    <li><a href="#" title="accessible website level AA(Open New Window)" target="_blank"><img src="/Areas/@areaName/images/new/footer001.jpg" alt="accessible website level AA"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #copyrights end -->
</footer>
<!-- #footer end -->
</div>
<!-- #wrapper end -->
<!-- Go To Top
============================================= -->
<div id="gotoTop"><a href="#" class="gotoTop-sty" title="Go To Top"><i class="icon-angle-up"></i><span class="sr-only">Go To Top</span></a></div>
<!-- External JavaScripts
============================================= -->
<script src="~/Areas//@areaName/js/jquery.js"></script>
<script src="~/Areas//@areaName/js/plugins.js"></script>
<!-- Footer Scripts
============================================= -->
<script src="~/Areas//@areaName/js/functions.js"></script>
<script src="~/Areas//@areaName/js/fontsize.js"></script>
<script>
    $(document).ready(function () {

        $(window).bind('hashchange', function () {
            var hash = "#" + window.location.hash.replace(/^#/, '');
            if (hash != "#") {
                $(hash).attr('tabindex', -1).on('blur focusout', function () {
                    $(this).removeAttr('tabindex');
                }).focus().yellowFade();
            } else {
                $("#headcontainer").attr('tabindex', -1).on('blur focusout', function () {
                    $(this).removeAttr('tabindex');
                }).focus();
            }
        });
    });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131544581-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-131544581-1');
</script>
</body>






