@model TnpdModels.ActivityCustomField

@{
    string FieldName = string.Format("FieldName_{0}", Model.Id);
}

<div class="editor-label">
    <label for="@Model.FieldName">@Model.FieldName</label>
</div>
<div class="editor-field">
    @if (Model.IsRequire == TnpdModels.BooleanType.是)
    {
        <input data-val="true" data-val-required="@(Model.FieldName)必填" data-val-date="@(Model.FieldName)格式錯誤" id="@(FieldName)" name="@(@FieldName)" placeholder="@(Model.FieldName)" type="text" value="" class="datepicker" />
    }
    else
    {
        <input data-val="true" data-val-date="@(Model.FieldName)格式錯誤" id="@(FieldName)" name="@(FieldName)" placeholder="@(Model.FieldName)" type="text" value="" class="datepicker" />
    }
    <span class="field-validation-valid" data-valmsg-for="@(FieldName)" data-valmsg-replace="true"></span>
</div>