@using TnpdModels
@model TnpdModels.EseCatalog

@{
    WebSiteName web = ViewBag.webSite;
}
<h2> @(ViewBag.Title)類別管理新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>@(ViewBag.Title)</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<TnpdModels.NewsCatalog>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.MetaId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("MetaId")
            @Html.ValidationMessageFor(model => model.MetaId)
       
            
        </div>
        @if (ViewBag.admin)
        {
            <div class="editor-label">
                @Html.LabelFor(model => model.WebSiteId)

            </div>
            <div class="editor-field">
                @Html.DropDownList("WebSiteId")
                @Html.ValidationMessageFor(model => model.WebSiteId)


            </div>
        }
        else
        {
            <div class="editor-label">
                @Html.LabelFor(model => model.WebSiteId)

            </div>
            <div class="editor-field">
               <input type="hidden" name="WebSiteId" value="@web.Id"/>
               @web.Subject


            </div>
        }
        <input type="hidden" name="WebCategoryId" value="@Request["pclass"]"/>

        @Html.Hidden("ListNum","0")
        

        <p>
            <input type="submit" value="新增" class="btn-button" />
        </p>
		<p class="bottom-btn">
		<input type="button" onclick="history.back()" class="btn btn-primary btn-gray" value="回列表" /> 
		</p>
    </fieldset>
}



@section Scripts {
   


}
