@model TnpdModels.AboutLinkCatalog

@{
    ViewBag.Title = "刪除網網相連";
}

<h2>刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AboutLinkCatalog</legend>

   

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WebSite.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebSite.Subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject)
    </div>

  

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Poster)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Poster)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.initOrg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.initOrg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Updater)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updater)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateOrg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateOrg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
