
@using Tnpd.Models
@model TnpdModels.RefugeStation

@{
    ViewBag.Title = "防空疏散避難設施地圖編輯";
}

<h2>防空疏散避難設施地圖編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RefugeStation</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.DIstrict)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.DIstrict,new { placeholder=ModelsAttributeHelper<TnpdModels.RefugeStation>.GetDisplayName("DIstrict") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Village)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Village,new { placeholder=ModelsAttributeHelper<TnpdModels.RefugeStation>.GetDisplayName("Village") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<TnpdModels.RefugeStation>.GetDisplayName("Subject") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Address,new { placeholder=ModelsAttributeHelper<TnpdModels.RefugeStation>.GetDisplayName("Address") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Number)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Number,new { placeholder=ModelsAttributeHelper<TnpdModels.RefugeStation>.GetDisplayName("Number") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Precinct)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Precinct") 
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Twd97X)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Twd97X,new { placeholder=ModelsAttributeHelper<TnpdModels.RefugeStation>.GetDisplayName("Twd97X") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Twd97Y)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Twd97Y,new { placeholder=ModelsAttributeHelper<TnpdModels.RefugeStation>.GetDisplayName("Twd97Y") })
           
        </div>

            @Html.HiddenFor(model => model.Poster)
        @Html.HiddenFor(model => model.initOrg)
        @Html.HiddenFor(model => model.UpdateOrg)




            @Html.HiddenFor(model => model.InitDate)


            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
