@using Tnpd.Models
@model TnpdModels.TrafficViolationsClass

@{
    ViewBag.Title = "舉發原因維護新增";
}

<h2>舉發原因維護新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>TrafficViolationsClass</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<TnpdModels.TrafficViolationsClass>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

             @Html.Hidden("ListNum","0")
        <div class="editor-label">
            @Html.LabelFor(model => model.initOrg)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.initOrg,new { placeholder=ModelsAttributeHelper<TnpdModels.TrafficViolationsClass>.GetDisplayName("initOrg") })
            @Html.ValidationMessageFor(model => model.initOrg)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateOrg)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.UpdateOrg,new { placeholder=ModelsAttributeHelper<TnpdModels.TrafficViolationsClass>.GetDisplayName("UpdateOrg") })
            @Html.ValidationMessageFor(model => model.UpdateOrg)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
