@model TnpdModels.News

<div class="row ">
    <div class="col-12">

        <h4 class="h4title">@Model.Subject</h4>
        <p>
            <span class="dropcap">答</span> @Html.Raw(Model.Article)
        </p>
        <!---相關附件--->
        @if (Model.NewsFileses.Count > 0)
        {
         
            <div class="mb-2"><i class="icon-line-paper-clip"></i> 相關附件
                <ul class="ullink">
                
                    @foreach (var file in Model.NewsFileses)
                    {
                        <li><a href="@file.UpFile" title="@(file.Subject)(另開視窗)">@file.Subject</a></li>
                    }
     
                </ul>
            </div>
        }
        <!---相關連結--->
        @if (Model.NewsLinks.Count > 0)
        {
       
            <div class="mb-2"><i class="icon-line-link"></i> 相關連結
                <ul class="ullink">
                    @foreach (var link in Model.NewsLinks)
                    {
                        <li><a href="@link.LinkUrl" title="@(link.Subject)(另開視窗)" target="">@link.Subject</a></li>
                    }
              
                </ul>
            </div>
        }
        
        <!---相關圖檔--->
        @if (Model.NewsImagses.Count > 0)
        {
        
            <div class="mb-2"><i class="icon-line-image"></i> 相關圖檔</div>
            <div class="row imglink">
                @foreach (var img in Model.NewsImagses)
                {
                    <div class="col-12 col-md-6 mb-2"><a href="@img.UpFile.ToLower()" title="@(img.Subject)(另開視窗)"
                                                         target="_blank"><img src="@img.UpFile.ToLower()"
                                                                              class="img-fluid" alt="@(img.Subject)"></a>
                        <figcaption class="figure-caption">@img.Subject</figcaption>
                    </div>
                }
           

            </div>
        }
    </div>
</div>