@using TnpdModels
@model TnpdModels.TrafficRegion

@{
    ViewBag.Title = "違規區域設定新增";
}

<h2>違規區域設定新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>TrafficRegion</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<TnpdModels.TrafficRegion>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("UnitId")
            @Html.ValidationMessageFor(model => model.UnitId)
       
            
        </div>

             @Html.Hidden("ListNum","0")
        

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
