
@using TnpdModels
@model TnpdModels.TrafficFrontEndViolationItem

@{
    ViewBag.Title = "前台違規事項設定編輯";
}

<h2>前台違規事項設定編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TrafficFrontEndViolationItem</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<TnpdModels.TrafficFrontEndViolationItem>.GetDisplayName("Subject") })
           
        </div>

            @Html.HiddenFor(model => model.ListNum)
        <div class="editor-label">
            @Html.LabelFor(model => model.IsEnable)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IsEnable, new SelectList(Enum.GetValues(typeof(TnpdModels.BooleanType))))
            @Html.ValidationMessageFor(model => model.IsEnable)
           
        </div>

           
        @Html.HiddenFor(model => model.ListNum)
        @Html.HiddenFor(model => model.Poster)
        @Html.HiddenFor(model => model.initOrg)

     

        @Html.HiddenFor(model => model.InitDate)
      

        @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
