@using Tnpd.Helpers
@using MvcPaging
@using TnpdModels
@model MvcPaging.IPagedList<TnpdModels.News>


<h2> @(ViewBag.Title) 列表</h2>




 

<table class="table table-v">
    <tr>
       
        <th >
            @if (Request["pclass"] == "58")
            {
                <span>問題</span>
            }
            else
            {
                 @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
            }
           
        </th>
      
      
     
        <th width="20%">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Poster)
        </th>
       <th  width="10%">
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
        <th  width="10%">
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsConfirm)
        </th>
        <th width="10%">功能</th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
      
   

    
       
        <td >
            @Html.DisplayFor(modelItem => item.initOrg) <br/> @Html.DisplayFor(modelItem => item.Poster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
        <td>
           @if (item.IsConfirm == BooleanType.是)
           {
               <div>是</div>
           }
           else
           {
               <div style="color: red">否</div>
           }
           指定審核人： @if (item.assignMember == null)
                  {
                      <span style="color: red">尚未指定</span>
                  }
                  else
                  {
                      <span >@item.assignMember.Name</span>
                  }
        </td>
        <td>
          
            @Html.ActionLink("審核", "ReviewEdit", new { id = item.Id, pclass = Request["pclass"] }, new { @class = "btn btn-primary" })
          
        </td>
    </tr>
}

</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(x => x.AddRouteValue("pclass", Request["pclass"]))
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
            $("#SearchBySortField").children().each(function () {
                if ($(this).val() == "@(ViewData["SearchBySortField"])") {
                    //jQuery給法
                    $(this).attr("selected", true); //或是給"selected"也可
                    //javascript給法
                    this.selected = true;
                }
            });

            $("#SearchBySortType").children().each(function () {
                if ($(this).val() == "@(ViewData["SearchBySortType"])") {
                    //jQuery給法
                    $(this).attr("selected", true); //或是給"selected"也可
                    //javascript給法
                    this.selected = true;
                }
            });
        });
    </script>
}