@model tnpd.Models.ChiefView
<div class="row">
    @using (Html.BeginForm("Create", "ChiefMailbox", new { @class = "form form-vaild form-aligned trailer" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @ViewBag.Message
        <div class="col-12">
            <p>
                親愛的民眾您好：<br>
                感謝您使用本局的信箱，透過信箱可以讓我們知道您的需求及問題在哪裡， 以便為您做更多的服務，真正達到落實"便民"的目標。<br>
                (有 <span class="text-danger">*</span> 號請務必填寫)
            </p>

            <div class="hrline"></div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="col-form-label" for="Name"><span class="text-danger">*</span>
                        姓名：</label>
                    <input class="form-control" data-val="true" data-val-required="姓名必填" id="Name" name="Name" placeholder="姓名" type="text" value="@Model.Name" />
                    <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>

                </div>
                <div class="form-group col-md-6"  style="display: none">
                    <label class="col-form-label" for="Gender"><span class="text-danger">*</span>
                        性別：</label>
                    <div class="form-group">
                        <select  class="form-control"  id="Gender" name="Gender"><option>男</option>
                            <option>女</option>
                        </select>
                      

                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-form-label" for="Email"><span class="text-danger">*</span>
                    E-Mail：</label>
              
                <input id="Email" class="form-control" data-val="true" data-val-email="Email 格式錯誤" data-val-required="Email必填" name="Email" placeholder="請輸入E-Mail" type="text" value="@Model.Email" />
                <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>

            </div>
            
            <div class="form-group">
                <button type="button" id="sendmail" class="btn btn-info">寄送認證郵件</button><br/>
                <span style="color: red" id="mailMessage"></span>
            </div>

            <h4 class="h4title">寄送認證郵件注意事項：</h4>

            <ul class="ultxt">
                <li>填寫e-mail → 點選「寄送認證郵件」鈕→
                    出現「認證郵件已送出，請點選信中連結認證您的信箱，完成後即可繼續填寫資料，因信箱設定不同，郵件有可能會被系統歸類為垃圾郵件。」文字提示訊息→請至信箱接收認證郵件。本系統將依據您所提供的e-mail回覆處理進度與認證郵件，若無法收到處理結果與認證郵件，請至「垃圾郵件」查看，並將認證郵件移至「收件匣」再點選「請點選此連結認證您的信箱」。
                </li>
                <li>為避免您有收不到處理結果與認證郵件，請盡量避免使用免費信箱。
                </li>
                <li>請於收到認證郵件後30分鐘內，完成認證並檢舉完成，若逾期請重新認證。
                </li>
            </ul>


            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="col-form-label" for="TEL">
                        電話：</label>
                
                    <input id="TEL" class="form-control" name="TEL" placeholder="請輸入聯絡電話" type="text" value="@Model.TEL" />
                    <span class="field-validation-valid" data-valmsg-for="TEL" data-valmsg-replace="true"></span>

                </div>
                <div class="form-group col-md-6"  style="display: none">
                    <label class="col-form-label" for="Job">
                        職業：</label>
                    <input class="form-control"  id="Job" name="Job" placeholder="請輸入職業" type="text" value="@Model.Job" />
                    <span class="field-validation-valid" data-valmsg-for="Job" data-valmsg-replace="true"></span>

                </div>
            </div>

            <div class="form-group">
                <label class="col-form-label" for="Address">
                    地址：</label>
                <div class="form-row ">
                   
                    <input id="Address" class="form-control" name="Address" placeholder="請輸入地址" placeholder="現居地址" type="text" value="@Model.Address" />
                    <span class="field-validation-valid" data-valmsg-for="Address" data-valmsg-replace="true"></span>

                </div>
            </div>

            <div class="form-group">
                <label class="col-form-label" for="Subject"><span class="text-danger">*</span>
                    主題：</label>
                <input id="Subject" class="form-control" data-val="true" data-val-required="主旨必填" name="Subject" placeholder="請輸入主旨" type="text" value="@Model.Subject"  />
                <span class="field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>

               
            </div>

            <div class="form-group">
                <label class="col-form-label" for="Content">內容：</label>
                <textarea class="form-control"   data-val="true" data-val-required="必填" name="Content" rows="3">@Model.Content</textarea>
                <span class="field-validation-valid" data-valmsg-for="Content" data-valmsg-replace="true"></span>

            </div>
            <div class="form-group">
                <label class="col-form-label" for="Upfile1">
                    <span class="text-danger">*</span>
                    檔案上傳：</label>
                <span class="field-validation-valid" data-valmsg-for="Upfile1" data-valmsg-replace="true"></span>
                <input id="Upfile1" class="form-control mb-2" data-val="true" data-val-required="至少第一個檔案必須上傳" name="Upfile1" type="file">
                <input id="Upfile2" class="form-control mb-2" name="Upfile2" type="file">
                <input id="Upfile3" class="form-control" name="Upfile3" type="file">
            </div>

            <div class="form-group" style="word-break: break-all;">
                <span class="text-danger">【檔案上傳限制】</span><br>
                1. 6個檔案加總請勿超過60MB，<span style="color: red">檔名請勿包含+#% 等特殊符號</span> ，附檔檔名請使用半形英數字命名。<br>
                2. 僅支援圖片以及影片檔案，例如：（*.avi, *.mp4, *.wmv, *.mov, *.3gp, *.jpeg, *.jpg, *.png, *.gif, *.bmp）餘請轉換壓縮檔（*.zip, *.rar）再上傳。

            </div>
            <div class="form-row  mt-4">
                <label class="col-form-label" for="checkCode"><span class="text-danger">*</span>
                    驗證碼：</label>

                <div class="form-group col-auto">
                    <img id="imgVerify" src="~/Captcha/CaptchaImage?s=@DateTime.Now.Millisecond" alt="點擊更换驗證碼" tabindex="0" onclick="fleshVerify()" />
                    <a href="javascript:void(0);" onkeypress="PlayCode()" onclick="PlayCode();"><img id="imgRead" tabindex="0" src="~/images/maintb.gif" alt="播放聲音。"  /></a>
                   
                </div>
                <div class="form-group col-md-3">
                    <input id="checkCode" class="form-control"  name="checkCode" placeholder="請輸入驗證碼" type="text" /><noscript>您的瀏覽器無支援 JavaScript,無法使用此服務</noscript>
                   
                     @Html.ValidationMessage("CheckCode")              
                </div>

            </div>

            <div class="hrline"></div>
            <input type="hidden" name="id" value="@ViewBag.UnId"/>
            <div class="form-row justify-content-center">
                <div class="col-auto">
                    <button type="submit" class="btn btn-info">送出</button>
                </div>
                <div class="col-auto">
                    <button type="reset" class="btn btn-secondary">清除</button>
                </div>
            </div>

        </div>


    }

</div>
<script type="text/javascript">
    function PlayCode() {
        var name = ReadCookie("CheckCode");
        var url2 = "/wav/" + name + ".wav";

        if (/(MSIE|Trident\/|Edge\/)/i.test(navigator.userAgent)) {
            //本來這裡用的是<bgsound src="system.wav"/>,結果IE8不播放聲音,於是換成了embed
            $('#newMessageDIV').html("<embed src='" + url2 + "'/>");
        } else {
            //Firefox,Chrome均支持<audio/>
            $('#newMessageDIV').html("<audio autoplay='autoplay'><source src='" + url2 + "' type='audio/wav'/></audio>");
        }
    }
    $("#sendmail").click(function () {
        var email = $('#Email').val();
        $("#mailMessage").text('發送信件' + $('#Email').val());
        $.get("/ChiefMailbox/SendVerifyMail/", { id: $('#Email').val() })
            .done(function (data) {
                $("#mailMessage").text(data);
            });
    });

    function fleshVerify() {

        //重载验证码

        var time = new Date().getTime();

        document.getElementById('imgVerify').src = '/Captcha/CaptchaImage/' + time;

    }
    function ReadCookie(name) {
        var dc = document.cookie;
        var start1 = dc.indexOf(name + "=");
        if (start1 == -1) {
            return "";
        }
        else {
            start = dc.indexOf("=", start1) + 1;
            var end = dc.indexOf(";", start);
            if (end == -1) {
                end = dc.length;
            }
            var value = unescape(dc.substring(start, end));
            if (value == null) {
                return ""
            }
            else {
                return value;
            }
        }
    }
</script>
<style>
    .field-validation-error {
        color:red
    }
</style>
<script src="/js/jquery.validate.js"></script>

<script src="/js/jquery.validate.unobtrusive.js"></script>
<script src="/js/jquery.unobtrusive-ajax.min.js"></script>
