@using TnpdModels
@model TnpdModels.NewsLink
@{
    Layout = null;
}
@{
    ViewBag.Title = "編輯";

}
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/CKfinder/ckfinder.js"></script>
@{
    if (ViewBag.close == "true")
    {
        <script>
            $(document).ready(function () {
                parent.$.fn.colorbox.close();
                parent.location = '@Html.Raw(Url.Action("Edit", "News", new { id = ViewBag.NewsId,pclass=Request["pclass"],type = 2}))';
            });
        </script>
    }
    
      
    }
    <style>
        .position {
            width: 27px;
        }
    </style>
    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>NewsLink</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<TnpdModels.NewsLink>.GetDisplayName("Subject") })
           
        </div>

        <input type="hidden" name="NewId" value="@Model.NewId"/>

        <div class="editor-label">
            @Html.LabelFor(model => model.LinkUrl)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LinkUrl,new { placeholder=ModelsAttributeHelper<TnpdModels.NewsLink>.GetDisplayName("LinkUrl") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Target)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Target, new SelectList(Enum.GetValues(typeof(TnpdModels.TargetType))))
            @Html.ValidationMessageFor(model => model.Target)
           
        </div>

            @Html.HiddenFor(model => model.ListNum)
            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" class="btn-button" />
        </p>
    </fieldset>
}


