
@using MvcPaging
@using Tnpd.Helpers
@model MvcPaging.IPagedList<TnpdModels.CaseTraffic>

@{
    ViewBag.Title = "交通檢舉信箱派案作業";
}

<h2>交通檢舉信箱派案作業</h2>
  

<table class="table table-v">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CaseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CaseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Predate)
        </th>
        <th>
           案件狀態
        </th>
      
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>

            @Html.ActionLink(item.CaseID.ToString(), "AssignEdit", new { id=item.Id,pclass=Request["pclass"]}) 
        </td>
        <td>
           交通檢舉信箱
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Predate)
        </td>
        <td>
           未分派
        </td>
        
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
  共  @ViewBag.Total 筆
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

