@using TnpdModels
@model TnpdModels.TrafficViolationItem

@{
    ViewBag.Title = "新增前台違規事項";
}

<h2>新增前台違規事項</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>TrafficViolationItem</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<TnpdModels.TrafficViolationItem>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

             @Html.Hidden("ListNum","0")
        <div class="editor-label">
            @Html.LabelFor(model => model.IsEnable)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IsEnable, new SelectList(Enum.GetValues(typeof(TnpdModels.BooleanType)),BooleanType.否))
            @Html.ValidationMessageFor(model => model.IsEnable)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TrafficViolationType)

        </div>
             <div class="editor-field">
                 @{
                     TrafficViolationType type = ViewBag.typeid == 0 ? TrafficViolationType.平面道路 : TrafficViolationType.高速公路;
                 }
                 @Html.DropDownListFor(model => model.TrafficViolationType, new SelectList(Enum.GetValues(typeof(TnpdModels.TrafficViolationType)), type))
                 @Html.ValidationMessageFor(model => model.TrafficViolationType)


             </div>

        

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
