@using TnpdModels
@model TnpdModels.HomeLink

@{
    ViewBag.Title = "首頁相關連結(小圖)新增";
}

<h2>首頁相關連結(小圖)新增，(圖片尺寸：300x106px,限定*.PNG 與 *.JPG格式)</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>HomeLink</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.WebSiteNameId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("WebSiteNameId")
            @Html.ValidationMessageFor(model => model.WebSiteNameId)
       
            
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<TnpdModels.HomeLink>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

       

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.StartDate)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.EndDate)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpImage)

        </div>
        <div class="editor-field">
            <input type="file" name="UpImages" />
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Url,new { placeholder=ModelsAttributeHelper<TnpdModels.HomeLink>.GetDisplayName("Url") })
            @Html.ValidationMessageFor(model => model.Url)
       
            
        </div>

             @Html.Hidden("ListNum","0")
        <div class="editor-label">
            @Html.LabelFor(model => model.Enable)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Enable, new SelectList(Enum.GetValues(typeof(TnpdModels.BooleanType))))
            @Html.ValidationMessageFor(model => model.Enable)
       
            
        </div>

      
        @Html.Hidden("OwnWebSiteId","0")
       

       

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>
    
}
